
/* BOX SIZING BORDER BOX */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

/* MY STYLES */


.container {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

section#about-me {
  height: 95vh;
  background:#292929 ;
}

footer{
  width: 100%;
  text-align: center;
  background: ;
}

footer i.fa-github, i.fa-twitter, i.fa-linkedin{
  font-size: 60px;
  color: magenta;
  padding:0px 70px 0px 0px; 
  transition: color, .5s;
  -webkit-transition: color, transform, .5s;
}

footer i.fa-github:hover,i.fa-twitter:hover, i.fa-linkedin:hover {
  color: blue;
  transform: rotate(10deg);
  transition: color, .5s;
  -webkit-transition: color, transform, .5s;
}








