/* BOX SIZING BORDER BOX */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

/* MY STYLES */

nav a {
  text-decoration: none;
}

nav li { 
  display: inline-block;
  font-size: 18px;
  margin: 0 20px;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

section#about-me {
  height: 95vh;
  background: pink;
}

footer i.fa-github {
  font-size: 200px;
  color: magenta;  
  transition: color, .5s;
  -webkit-transition: color, transform, .5s;
}

footer i.fa-github:hover {
  color: blue;
  transform: rotate(10deg);
  transition: color, .5s;
  -webkit-transition: color, transform, .5s;
}